
    

<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class=" my-2 my-lg-0">
    <div class="form-group row px-5">   
    <div class="col-8"> 
      <%= f.text_field :description,placeholder:"write your todo here", class: "form-control" %> 
    </div>
    <div class="col-3">
      <%= f.submit "Add Todo Item", class: 'btn  btn-secondary' %>
    </div>
  </div>
  </div>
  
<% end %>
